<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="description" content="This app does one little thing, and does it well.">
		<meta property="og:title" content="Preact Express Template" />
		<meta property="og:url" content="https://github.com/codenameyau/preact-express-template" />
    <meta property="og:description" content="This app does one little thing, and does it well." />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon.png">
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
